<div class="container">
  <div class="row" style="display:flex;">
    <div class="col-md-8">
      <h1>Děti</h1>
    </div>
    <div class="col-md-4 buttons">
<!--      <button routerLink="../add-child" class="btn btn-default">-->
<!--        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
<!--        Přidat děti-->
<!--      </button>-->
<!--      <button routerLink="../copy-children" class="btn btn-default" style="margin-left: 5px">-->
<!--        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>-->
<!--        Kopírovat děti z jiného táboru-->
<!--      </button>-->
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>
        Jméno
      </th>
      <th>
        Věk
      </th>
      <th>
        Přezdívka
      </th>
      <th>
        Zákonný zástupce
      </th>
      <th>
        Kontakt - telefon
      </th>
      <th>
        Zaplaceno
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let child of children">
      <td>{{child.name}}</td>
      <td>{{child.age}}</td>
      <td>{{child.nickname}}</td>
      <td>{{child.representative}}</td>
      <td>{{child.contact}}</td>
      <td>{{hasChildPaid(child) ? 'Ano' : 'Ne'}}</td>
      <td>
        <button (click)="edit(child)" class="btn" style="padding: 0; margin-left: 5px" title="Upravit">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button (click)="remove(child.id, $event)" class="btn" style="padding: 0; margin-left: 5px" title="Odebrat z táboru">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    </tbody>

  </table>
</div>
