<div class="container">
  <div class="row" style="display:flex;">
    <div class="col-md-8">
      <h1>Kopírovat děti z jiného táboru</h1>
    </div>
    <div class="col-md-4 buttons">
    </div>
  </div>

  <div class="form-group">
    <label for="camp">Ze kterého táboru kopírovat?</label>
    <select (change)="campChanged()" class="form-control" id="camp" style="width: 20%" name="campId" [(ngModel)]="campId">
      <option value="" disabled></option>
      <option *ngFor="let camp of camps" [value]="camp.id" >{{camp.detail.name}}</option>
    </select>
  </div>

  <div *ngIf="children.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>
          Jméno
        </th>
        <th>
          Věk
        </th>
        <th>
          Přezdívka
        </th>
        <th>
          Zákonný zástupce
        </th>
        <th>
          Kontakt z. z.
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let child of children">
        <td>{{child.name}}</td>
        <td>{{child.age}}</td>
        <td>{{child.nickname}}</td>
        <td>{{child.representative}}</td>
        <td>{{child.contact}}</td>
        <td>
          <button (click)="edit(child)" class="btn" style="padding: 0; margin-left: 5px" title="Upravit">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button (click)="remove(child.id)" class="btn" style="padding: 0; margin-left: 5px" title="Odebrat z táboru">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      </tbody>

    </table>
    <button (click)="copy()" class="btn btn-default">Kopírovat</button>
  </div>
  <div *ngIf="children.length === 0 && campId !== undefined">
    Žádné děti k výběru
  </div>

</div>
