<div class="container-fluid header">
  <div class="row" style="padding: 0px 0 3px 0px">
    <div class="col-md-10">
      <a routerLink="/camp-list">
        <img src="/assets/logo1.png" width="180"/>
      </a>
    </div>
    <div class="col-md-1 buttons" style="padding-top: 15px">
      <a routerLink="/camp-list">
        <img src="/assets/tent.png" width="40"/>
      </a>
    </div>
    <div class="col-md-1 buttons" style="padding-top: 15px">
      <a routerLink="/notifications">
        <img src="/assets/notification.png" width="40"/>
      </a>
    </div>
  </div>
</div>
