/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

.mat-dialog-title, .mat-dialog-content, .mat-button{
  font-family: 'Raleway', sans-serif !important;
}
/*body { margin: 0; font-family: 'Roboto', sans-serif; }*/
